.bashrc
.directory
.env
.DS_Store
.~lock.*
http-client.private.env.json
poetry.lock

*.code-workspace
*.csv
*.log
*.py[cod]
*.sql
*.sqlite
*.pdf
*.xlsx

__pycache__/
*.egg-info/

/.idea/
/.venv/
/venv/
